<!DOCTYPE html>
{% load static %}
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Photoshopper</title>
  <style media="screen">
    .footer{
      position: fixed;
    }
  </style>
</head>

<body style="background-color:#f7f7f7;">
  {%if request.user.is_authenticated%}
    {% include "ecom/customer_navbar.html" %}
  {%else%}
    {% include "ecom/navbar.html" %}
  {%endif%}
  <br><br><br><br><br><br><br><br><br><br>
<h3 style="text-align:center;">"This web application will provide the photographers or the creators of digital arts to showcase their best work and get paid for the service their product provide to the user.
  The user or the customer can download the best suited images for their use from different categories of images provided by the creators  by paying for them the value of their creation.
  The user can easily download and use the original images anywhere without worry about having a copyright on the image." </h3>
<br><br><br><br><br><br><br><br><br>
  
</body>


</html>
